/* tag_name */
h1{
    color:blue;
    text-transform: uppercase;
}
/* id */
#p1{
    color:red;
    font-style:italic;
}
/* class */
.p2{
    color:aqua;
    font-size:large;
}
.p3{
    font-size:small;
}