.padding {
    background-color: #15bfe2;
    color: red;
    width: 200px;
    height: 200px;
    /* thay đổi các thông số của padding */
    /* dãn cả 4 hướng:p40*/
    padding: 40px;
    /* dãn trên :pdt*/
    padding-top: 40px;
    /* dãn phải:pr */
    padding-right: 40px;
    /* dãn dưới:pdb */
    padding-bottom: 40px;
    /* dãn trái:pdl */
    padding-left: 40px;
    /* dãn trên,dưới+trái,phải */
    padding: 40px 20px;
    /* dãn trên-trái,phải-dưới */
    padding: 40px 30px 20px;
    /* dãn trên-phải-dưới-trái(theo chiều kim đông hồ) */
    padding: 40px 30px 20px 10px;
}

.border {
    background-color: blue;
    color: azure;
    width: 200px;
    height: 200px;
    /* thay đổi các thông số của border */
    /* kiểu viết tắt: độ rộng-kiểu viền-màu viền */
    /* có thể thay đổi thông số của viền theo từng hướng như border-left,... */
    border: 10px solid red;
    /* kiểu viền nét đứt:dashed */
    border: 10px dashed red;
    /* kiểu viền 2 đường song song liền nhau:double */
    border: 10px double red;
    /* kiểu viền là các dấu chấm dot:dotted */
    border: 10px dotted red;
    /* kiểu viền 3D-1:groove */
    border: 10px groove red;
    /* kiểu viền 3D-2:ridge */
    border: 10px ridge red;
    /* kiểu viền 3D-3:inset */
    border: 10px inset red;
    /* kiểu viền 3D-4:outset */
    border: 10px outset red;
    /* kiểu viết tường minh */
    /* thay đổi kích thước sẽ giống padding */
    border-width: 40px 30px 20px 10px;
    /* thay đổi kiểu viền,có thể thay đổi style cho từng viền khác nhau:border-(left)-style:..;*/
    border-style: dotted;
    /* thay đổi màu cho viền */
    border-color: aquamarine;
}

.border-radius {
    background-color: rgb(192, 18, 120);
    color: azure;
    width: 200px;
    height: 200px;
    border: 5px solid red;
    /* bo viền */
    border-radius: 10px;
    /* tường minh */
    /* bo cho góc trên bên trái:botopl */
    border-top-left-radius: 10px;
    /* bo góc trên bên phải:botopr */
    border-top-right-radius: 10px;
    /* bo góc dưới bên trái:bobotl */
    border-bottom-left-radius: 10px;
    /* bo góc dưới bên phải:bobotr */
    border-bottom-right-radius: 10px;
    /* bo trên trái,dưới phải-trên phải,dưới trái */
    border-radius: 60px 10px;
    /* bo trên trái-trên phải,dưới trái-dưới phải */
    border-radius: 60px 40px 20px;
    /* bo trên trái-trên phải-dưới phải-dưới trái(theo chiều kim đồng hồ) */
    border-radius: 80px 70px 60px 50px;
}

.margin {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: white;
    /* chỉnh các thông số cơ bản (giống với padding),có thể dùng số âm để đẩy các phần tử lại gần*/
    /* cách cả 4 hướng:m20 */
    margin: 20px;
    /* cách trái:mgl */
    margin-left: 20px;
    /* cách phải:mr */
    margin-right: 20px;
    /* cách trên: mt */
    margin-top: 20px;
    /* cách dưới:mgbot */
    margin-bottom: 20px;
}

/* margin-collap xảy ra với 2 phần tử nằm theo chiều dọc có margin hướng vào nhau 
khi đó sẽ lấy margin lớn hơn.Đối với chiều ngang vẫn cộng với nhau bình thường*/
.margin-collap {
    height: 200px;
    width: 200px;
    background-color: rgb(36, 189, 12);
    border: 10px solid violet;
}

.margin-collap1 {
    margin-bottom: 50px;
}

.margin-collap2 {
    margin-top: 70px;
}

/* có thể xử lý vấn đề này bằng cách thêm thuộc tính display: flex; và flex-direction:column; vào thẻ cha của nó*/
.margin-collap-f {
    display: flex;
    flex-direction: column;
}

/* margin-collap cũng có thể xảy ra với thẻ cha con có margin cùng chiều */
.box_child {
    width: 50%;
    background-color: #980d0d;
    margin-top: 80px;
    /* thêm margin ở đây nhưng cả phần cha bị đẩy xuống 80px */
}

.box_parent {
    height: 200px;
    background-color: rgb(213, 137, 23);
    margin-top: 50px;
    /* để khắc phục: */
    display: flex;
    flex-direction: column;
}

.outline {
    height: 200px;
    width: 200px;
    border: 10px solid red;
    margin: 20px;
    /* cách chỉnh thông số của outline
    Lưu ý:outline không thể code từng cạnh giống như padding hay border */
    outline: 25px solid blue;
    /* để outline cách border một khoảng thì dùng outline-offset */
    outline-offset: 10px;
}
.box{
    height: 200px;
    width: 100px;
    border: 10px solid red;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: content-box;
}
.box2{

    box-sizing: border-box;
}