h1,
h2 {
    color: blueviolet;
    font-size: large;
}

h1,
p {
    text-align: right;
}

h2,
.demo {
    text-transform: uppercase;
}

#dm,
.demo {
    font-style: italic;
}
.demo.demo2{
    color: brown;
}