/* sử dụng system fonts có sẵn trên hệ điều hành sẽ làm tăng hiệu suất,đẩy nhanh tốc độ tải trang */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* tên font có dấu cách phải thêm dấu nháy kép hoặc đơn */
}

/* nhúng font sẽ giúp bất cứ máy nào của khách hàng cũng hiển thị giống nhau.Kể cả trường hợp máy khách không cài đặt font chữ này. */
p {
    font-family: 'Inter', sans-serif;
    /* nên để font back-up là kiểu font cùng với font chính */
}

h2 {
    font-family: 'Roboto Serif', serif;
}
/* ban đầu .font-weight của chữ bình thường sẽ là 400 */
/* chỉnh sửa độ dày trực tiếp */
.font-weight{
    font-weight: 800;
}
/* chỉnh sửa dày hơn 1 cấp */
.font-weight{
    font-weight: bolder;
}
/* chỉnh sửa mỏng hơn 1 cấp */
.font-weight{
    font-weight: lighter;
}
.line-height{
    line-height: 1.5;
    /* dãn bằng 1.5 lần font-size hiện tại.không nên để dãn dòng là cố định vì khi thay đổi có thể làm chữ dính vào nhau */
}
.can{
    height: 200px;
    background-color: blue;
    line-height: 200px;
    /* cách trên 100 cộng với cách dưới của dòng trên là thành 200 */
}